body {
	font-family: "Helvetica", Arial, sans-serif;
}

#home {
	text-align: center;	 
	background: url(../images/bg.jpg) repeat;
}

#home img {
	width:60%;
	max-width:250px;
}

#home .ui-controlgroup {
	width:70%;
	max-width:400px;
	margin:0 auto;
	margin-top:20px;
}

.ui-header .ui-title img {
	width:100%; /* you can use % */
    height: auto;
}
.copyright {
	font-size: 10px;
	text-align: center;
}

#map_canvas {
        width: 500px;
        height: 400px;
}

.center, h2 .center {
	text-align: center;
}

.error {
	text-align:center;
	color:#F00;
	font-size:12px;
}


.ui-controlgroup {
width:100%;
max-width:500px;
margin: 0  auto;
}

.ui-mobile fieldset, .ui-field-contain {
margin:0 auto;
max-width:800px;
width:80%;
}
