body {
	font-family:Arial, Helvetica, sans-serif;
}
#wrapper {
	width: 980px;
	margin: 0 auto;	
}
#content {
	width: 600px;
	margin: 0 auto;
	border: 1px #000000 solid;
}
.heading {
	font-size: 18px;
	text-align:center;
	font-weight:bold;
}
.tagline {
	font-size: 16px;
	text-align:center;
	font-style:italic;
}
p {
	font-size: 12px;	
	padding-left: 5px;
}
.note {
    font-size: 12px;
	font-style:italic;
	color:#F00;
	text-align:center;
}

#footer p {
	padding-top: 50px;
	font-size: 12px;
	text-align:center;
}